#### Cleaning Data in Python
<b>df["col1"] = df["col1"].str.strip("s")</b>In the column col1 strip the symbol 's' from all values. Data type is still object(due to dollor sign) so need to convert to int/float. <br></br>
<b>df["col1"] = df["col1"].astype("int")</b> Convert column col1 into int data type. <br></br>
<b>assert df["col1"].dtype == "int"</b> Returns none if statement is true and error if false. <br></br>
<b>df["col1"] = df["col1"].astype("category")</b> Numbers representing category(for example booleans or binary) get data type "category" for proper summary of values <br></br>
Droping data that are out of range:
<b>var = df[df["col1"] <= 5]</b> Drop values using filtering where all values over 5 and under will be kept <br></br>
<b>df.drop(df[df["col1"] > 5].index, inplace=True)</b> Drop values using drop() where all values above 5 will be dropped. inplace=True dropped in place so we don't have to create new column <br></br>
<b>assert df["col1"].max() <= 5</b> Returns nothing if statement is true and AssertionError if false <br></br>
<b>df.loc[df["col1"] > 5, "col1"] = 5</b> Converts all values greater than 5 into 5. First argumnet is row index and second is column index <br></br>
<b>df["col2"] = pd.to_datetime(df["col2"]).dt.date</b> convert col2 from object into pandas datetime object<br></br>
<b>today_date = dt.date.today()</b> Saves todays date to variable today_date <br></br>
Handling duplicate values:
<b>duplicates = df.duplicated(column_names_var, keep=False)</b> Get duplicates across all columns listed in column_names_var, and keep all of them(do not drop)  <br></br>
<b>df[duplicates].sort_values(by="col1")</b> Easier to see duplicate values if they are sorted <br></br>
<b>df.drop_duplicates(inplace=True)</b> drops complete duplicates in the whole dataframe since no columns where listed. inplace=True drops duplicated rows directly inside the DF w/out creating new object <br></br>
<b>summaries = {"height": "max", "weight": "mean"}</b> To be used in agg function below <br></br>
<b>var = df.groupby(by=column_names_var).agg(summaries).reset_index</b> Chains agg function to columns grouped by column_names_var and use .reset_index() to have numbered indices in the final output <br></br>

In [ ]:
# Print the information of ride_sharing
print(ride_sharing.info())

# Print summary statistics of user_type column
print(ride_sharing['user_type'].describe())

# Convert user_type from integer to category
ride_sharing['user_type_cat'] = ride_sharing['user_type'].astype("category")

# Write an assert statement confirming the change
assert ride_sharing['user_type_cat'].dtype == 'category'

# Print new summary statistics 
print(ride_sharing['user_type_cat'].describe())

In [ ]:
# Strip duration of minutes
ride_sharing['duration_trim'] = ride_sharing['duration'].str.strip("minutes")

# Convert duration to integer
ride_sharing['duration_time'] = ride_sharing["duration_trim"].astype("int")

# Write an assert statement making sure of conversion
assert ride_sharing['duration_time'].dtype == 'int'

# Print formed columns and calculate average ride duration 
print(ride_sharing[['duration','duration_trim','duration_time']])
print(ride_sharing["duration_time"].mean())

In [ ]:
# Convert tire_sizes to integer
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('int')

# Set all values above 27 to 27
ride_sharing.loc[ride_sharing["tire_sizes"] > 27, "tire_sizes"] = 27

# Reconvert tire_sizes back to categorical
ride_sharing['tire_sizes'] = ride_sharing["tire_sizes"].astype("category")

# Print tire size description
print(ride_sharing['tire_sizes'].describe())

In [ ]:
# Find duplicates
duplicates = ride_sharing.duplicated("ride_id", keep=False)

# Sort your duplicated rides
duplicated_rides = ride_sharing[duplicates].sort_values('ride_id')

# Print relevant columns of duplicated_rides
print(duplicated_rides[['ride_id','duration','user_birth_year']])

In [ ]:
# Drop complete duplicates from ride_sharing
ride_dup = ride_sharing.drop_duplicates()

# Create statistics dictionary for aggregation function
statistics = {'user_birth_year': "min", 'duration': "mean"}

# Group by ride_id and compute new statistics
ride_unique = ride_dup.groupby('ride_id').agg(statistics).reset_index()

# Find duplicated values again
duplicates = ride_unique.duplicated(subset = 'ride_id', keep = False)
duplicated_rides = ride_unique[duplicates == True]

# Assert duplicates are processed
assert duplicated_rides.shape[0] == 0

#### Text and categorical data problems
Always keep a log of possible categorical data to make dealing with inconsistencies easier. <br></br>
Inner join keeps whats in both DF A and B while anti join keeps only whats in A and not in B(no overlapping) <br></br>
<b>var_inconsistent = set(df1["col1"]).difference(df_log["col1"])</b> Set stores all unique values and difference compares if there are any different values between df1 and df_log. We can tell if there are any categories in df1 that are not listed in df_log <br></br>
<b>var_rows = df["col1"].isin(var_inconsistent)</b>Find all rows that have inconsistent categories. Returns T/F <br></br>
<b>df[var_inconsistent]</b> Subset data to get values <br></br>
<b>var = df[~var_inconsistent]</b> Drops inconsistent categories and keeps consistent data only <br></br>
Value inconsistency, collapsing too many categories to few: <br></br>
<b>df["col"].value_counts()</b> Works on series only DF.groupby("col").counts() works on DF
<b>df["col1"] = df["col1"].str.upper()</b> Making every row in col1 upper case. Fixing 2 rows that have different ways of spelling the same category. <br></br>
<b>.str.lower()</b> Makes every value in column lower case <br></br>
<b>var = df["col1"].str.strip()</b> With no argumnet given strip method removes all trailing and leading white spaces <br></br>
<b>df["new_name"] = pd.cut(["col1"], bins=[0,20, 50, np.inf], labels=["0-20k", "20-50k", "50K+"]). cut the data into 3 groups with the names defined in labels. Use the range defined in bins. <br></br>
<b>mapping = {"name0": "cat1","name1": "cat1","name2": "cat0","name3": "cat1","name4": "cat0"}</b> Will be used below <br></br>
<b>df["col1"] = df["col1"].replace(mapping)</b> Replace col1 keys with its corresponding values. Column values should now be name1 or name2. <br></br>
<b>assert df["col1"].str.contains("+|-").any() == False</b> Check if col1 contains + or - in any of its values. <br></br>
<b>var_len = df["col1"].str.len()</b> Used below <br></br>
<b>df.loc[var_len < 10, "col1"] = np.nan</b> Convert values in col1 to NaN if the length of the value is less than 10 <br></br>
Regular expressions:
<b>df["col1"] = df["col1"].str.replace(r'<br></br>D+', "")</b> This means replace everything that is not a digit with nothing <br></br>

In [ ]:
# Print categories DataFrame
print(categories)

# Print unique values of survey columns in airlines
print('Cleanliness: ', airlines['cleanliness'].unique(), "\n")
print('Safety: ', airlines["safety"].unique(), "\n")
print('Satisfaction: ', airlines["satisfaction"].unique(), "\n")

In [ ]:
# Find the cleanliness category in airlines not in categories
cat_clean = set(airlines['cleanliness']).difference(categories['cleanliness'])

# Find rows with that category
cat_clean_rows = airlines['cleanliness'].isin(cat_clean)

# Print rows with inconsistent category
print(airlines[cat_clean_rows])

# Print rows with consistent categories only
print(airlines[~cat_clean_rows])

In [ ]:
# Print unique values of both columns
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

# Lower dest_region column and then replace "eur" with "europe"
airlines['dest_region'] = airlines['dest_region'].str.lower() 
airlines['dest_region'] = airlines['dest_region'].replace({'eur':'europe'})

# Remove white spaces from `dest_size`
airlines['dest_size'] = airlines['dest_size'].str.strip()

# Verify changes have been effected
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

In [ ]:
# Create ranges for categories
label_ranges = [0, 60, 180, np.inf]
label_names = ['short', "medium", "long"]

# Create wait_type column
airlines['wait_type'] = pd.cut(airlines["wait_min"], bins = label_ranges, 
                                labels = label_names)

# Create mappings and replace
mappings = {'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday': 'weekday', 
            'Thursday': 'weekday', 'Friday': 'weekday', 
            'Saturday': 'weekend', 'Sunday': 'weekend'}

airlines['day_week'] = airlines['day'].replace(mappings)

In [ ]:
# Replace "Dr." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Dr.", "")

# Replace "Mr." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Mr.", "")

# Replace "Miss" with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Miss", "")

# Replace "Ms." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Ms.", "")

# Assert that full_name has no honorifics
assert airlines['full_name'].str.contains('Ms.|Mr.|Miss|Dr.').any() == False

In [ ]:
# Store length of each row in survey_response column
resp_length = airlines["survey_response"].str.len()

# Find rows in airlines where resp_length > 40
airlines_survey = airlines[resp_length > 40]

# Assert minimum survey_response length is > 40
assert airlines_survey["survey_response"].str.len().min() > 40

# Print new survey_response column
print(airlines_survey['survey_response'])

#### Advanced Data Problems
Unit Uniformity problem:
<b>var_fah = temp.loc[temp["col1"] > 40, "col1"]</b> Used below <br></br>
<b>temp_cels = (var_fah -32) * (5/9)</b> Used below <br></br>
<b>temp.loc[temp["col1"] > 40, "col1"] = temp _cels</b> Convert unit from F to C <br></br>
<b>df["col1"] = pd.to_datetime(df["col1"], infer_datetime_format=True, errors="coerce")</b> Change dates in col1 to pandas datetime. Will infer the format and return NaT for missing values instead of an error being raised. <br></br>
<b>df["col1"] = df["col1"].dt.strftime("%d-%m-%Y")</b> <br></br>
Cross field validation:
<b>var_sum = df[["col1"], "col2", "col3"]].sum(axis=1)</b> Used below <br></br>
<b>var_check = var_sum == df["col4"]</b> Check if the sum of the first three columns is the same as what the DF displays.<br></br>
Missing Data: <br></br>
<b>df.isna().sum()</b> Checks if there is any missing data in df. Adding .sum() shows how many na values there are in df <br></br>
<b>import missingno as msno</b> Used to visualize missing data <br></br>
<b>df.dropna(subset=["col1"])</b> drops na values in col1 <br></br>
<b>df.fillna({"col1": var_mean})</b> Fill na values with mean values defined in var_mean <br></br>

In [ ]:
# Find values of acct_cur that are equal to 'euro'
acct_eu = banking['acct_cur'] == 'euro'

# Convert acct_amount where it is in euro to dollars
banking.loc[acct_eu, 'acct_amount'] = banking.loc[acct_eu, 'acct_amount'] * 1.1 

# Unify acct_cur column by changing 'euro' values to 'dollar'
banking.loc[acct_eu, 'acct_cur'] = 'dollar'

# Assert that only dollar currency remains
assert banking['acct_cur'].unique() == 'dollar'

In [ ]:
# Print the header of account_opend
print(banking['account_opened'].head())

# Convert account_opened to datetime
banking['account_opened'] = pd.to_datetime(banking['account_opened'],
                                           # Infer datetime format
                                           infer_datetime_format = True,
                                           # Return missing value for error
                                           errors = 'coerce') 

# Get year of account opened
banking['acct_year'] = banking['account_opened'].dt.strftime('%Y')

# Print acct_year
print(banking["acct_year"])

In [ ]:
# Store fund columns to sum against
fund_columns = ['fund_A', 'fund_B', 'fund_C', 'fund_D']

# Find rows where fund_columns row sum == inv_amount
inv_equ = banking[fund_columns].sum(axis=1) == banking["inv_amount"]

# Store consistent and inconsistent data
consistent_inv = banking[inv_equ]
inconsistent_inv = banking[~inv_equ] 

# Store consistent and inconsistent data
print("Number of inconsistent investments: ", inconsistent_inv.shape[0])

In [ ]:
# Store today's date and find ages
today = dt.date.today()
ages_manual = today.year - banking['birth_date'].dt.year

# Find rows where age column == ages_manual
age_equ = banking['age'] == ages_manual

# Store consistent and inconsistent data
consistent_ages = banking[age_equ]
inconsistent_ages = banking[~age_equ]

# Store consistent and inconsistent data
print("Number of inconsistent ages: ", inconsistent_ages.shape[0])

#### Record linkage
Collapsing incorrect categories with string similarity <br></br>
<b>for var in df_correct_cat["col1"]:</b> <br></br> 
<b>var_name = process.extract(var, df["col1"], limit = df.shape[0])</b> df_correct_cat contains the correct categories that df will ba collapsed to. this line will find potential matches in df with typoes. <br></br>
<b>for potential_match in matches:</b> <br></br>
<b>if potential_match[1] >= 80: </b> <br></br> if the string similarity score is high then ... <br></br>
<b>df.loc["col1"] == potential_match[0], 'col1'] = var</b> Replaces typo with correct category <br></br>