#### Dates and Calendars
<b>from datetime import date</b> import date function \
<b>var = [date(2016, 10, 7), date(2017, 6, 21)]</b> Created two python date objects. (year, month, day) order goes from biggest to smallest \
<b>var_dates[0].weeday()</b> Returns what weekday it is with 0 being monday 1 being tuesday and so on up to sunday being 6. \
<b>var = var_day1 -  var_day2</b> Subtract days \
<b>td = timedelta(days=29)</b> \
<b>var_day1 + td</b> Adds 29 days to day 1. \
<b>var_d.isoformat()</b> Puts date into a string \
<b>d_var.strftime("Todays date is %m/%d and the year is %Y")</b> Formate the date. Corresponding dates are added to the %Y, %m, and %d. \

In [ ]:
# Counter for how many before June 1
early_hurricanes = 0

# We loop over the dates
for hurricane in florida_hurricane_dates:
  # Check if the month is before June (month number 6)
  if hurricane.month < 6:
    early_hurricanes = early_hurricanes + 1
    
print(early_hurricanes)

In [ ]:
# Import date
from datetime import date

# Create a date object for May 9th, 2007
start = date(2007, 5, 9)

# Create a date object for December 13th, 2007
end = date(2007, 12, 13)

# Subtract the two dates and print the number of days
print((end - start).days)

In [ ]:
# Print the first and last scrambled dates
print(dates_scrambled[0])
print(dates_scrambled[-1])

# Put the dates in order
dates_ordered = sorted(dates_scrambled)

# Print the first and last ordered dates
print(dates_ordered[0])
print(dates_ordered[-1])

In [ ]:
# Assign the earliest date to first_date
first_date = min(florida_hurricane_dates)

# Convert to ISO and US formats
iso = "Our earliest hurricane date: " + first_date.isoformat()
us = "Our earliest hurricane date: " + first_date.strftime("%m/%d/%Y")

print("ISO: " + iso)
print("US: " + us)

#### Combining Dates and Times
<b>dt = datetime(2017, 10, 1, 15, 23, 25)</b> Create date time with parameters as follows (year, month, day, hour, minute, second, microsecond) \
<b>dt_hr = dt.replace(minute=0, second=0)</b> Change dt variable to represent the hour. \
<b>datetime.fromtimestamp(var_ts)</b> var_ts is the unix timestamp which is number of seconds since Jan 1 1970. This converts timestamp(in seconds) to datetime object.

In [ ]:
# Import datetime
from datetime import datetime

# Create a datetime object
dt = datetime(2017, 10, 1, 15, 26, 26)

# Print the results in ISO 8601 format
print(dt.isoformat())

In [ ]:
# Create dictionary to hold results
trip_counts = {'AM': 0, 'PM': 0}
  
# Loop over all trips
for trip in onebike_datetimes:
  # Check to see if the trip starts before noon
  if trip['start'].hour < 12:
    # Increment the counter for before noon
    trip_counts["AM"] += 1
  else:
    # Increment the counter for after noon
    trip_counts["PM"] += 1
  
print(trip_counts)

In [ ]:
# Import the datetime class
from datetime import datetime

# Starting string, in MM/DD/YYYY HH:MM:SS format
s = '12/15/1986 08:00:00'

# Write a format string to parse s
fmt = '%m/%d/%Y %H:%M:%S'

# Create a datetime object d
d = datetime.strptime(s, fmt)

# Print d
print(d)

#### Time Zones and Daylight Saving
<b>ET = timezone(timedelta(hours=-5))</b> Convert our time data into US Eastern Standard time zone \
<b>dt = datetime(2017, 12, 30, 15, 9, 3, tzinfo=ET)</b> Now our time is in ET time zone \
<b>IST = timezone(timedelta(hours=5, minutes=30))</b>India standard time zone. Used below \
<b>dt.astimezone(IST)</b> Shows the dt datetime but in India Standard time zone \
<b>dt.replace(tzinfo=timezone.utc)</b> change the timezone of a datetime, but leaves the date and time the same \
<b>dt.astimezone(timezone.utc)</b> Shifts the date and time to match the new timezone \
<b>from dateutil import tz</b> Using tz database \
<b>uk = tz.gettz('Europe/London')</b> Gets Londons time zone

In [ ]:
# Import datetime, timedelta, timezone
from datetime import datetime, timedelta, timezone

# Create a timezone for Australian Eastern Daylight Time, or UTC+11
aedt = timezone(timedelta(hours=11))

# October 1, 2017 at 15:26:26, UTC+11
dt = datetime(2017, 10, 1, 15, 26, 26, tzinfo=aedt)

# Print results
print(dt.isoformat())

In [ ]:
# Create a timezone object corresponding to UTC-4
edt = timezone(timedelta(hours=-4))

# Loop over trips, updating the start and end datetimes to be in UTC-4
for trip in onebike_datetimes[:10]:
  # Update trip['start'] and trip['end']
  trip['start'] = trip['start'].replace(tzinfo = edt)
  trip['end'] = trip['end'].replace(tzinfo = edt)

In [ ]:
# Loop over the trips
for trip in onebike_datetimes[:10]:
  # Pull out the start
  dt = trip['start']
  # Move dt to be in UTC
  dt = dt.astimezone(timezone.utc)
  
  # Print the start time in UTC
  print('Original:', trip['start'], '| UTC:', dt.isoformat())

In [ ]:
# Import tz
from dateutil import tz

# Create a timezone object for Eastern Time
et = tz.gettz('America/New_York')

# Loop over trips, updating the datetimes to be in Eastern Time
for trip in onebike_datetimes[:10]:
  # Update trip['start'] and trip['end']
  trip['start'] = trip['start'].replace(tzinfo = et)
  trip['end'] = trip['end'].replace(tzinfo = et)

In [ ]:
trip_durations = []
for trip in onebike_datetimes:
  # When the start is later than the end, set the fold to be 1
  if trip['start'] > trip['end']:
    trip['end'] = tz.enfold(trip['end'])
  # Convert to UTC
  start = trip['start'].astimezone(tz.UTC)
  end = trip['end'].astimezone(tz.UTC)

  # Subtract the difference
  trip_length_seconds = (end-start).total_seconds()
  trip_durations.append(trip_length_seconds)

# Take the shortest trip duration
print("Shortest trip: " + str(min(trip_durations)))

#### Easy and Powerful: Dates and Times in Pandas
<b>var = pd.read_csv("file.csv", parse_dates=["col1", "col2"])</b> parse_dates creates datetime objects in the columns defined in the list \
<b>df["col1"] = pd.to_datetime(df["col1"], format="%Y-%m-%d %H:%M:%S")</b> does same as above when it does not work \
<b>df["col1"].dt.total_seconds()</b> See total seconds from a time delta column \
<b>df.resample("M", on="col1")["col2_duration"].mean()</b> Like groupby() but with time. Take Month("M") from col1 and group by col1. Calculate mean values from col2 for each month. \
<b>df.groupby("col1").size()</b> Get size of each group \
<b>df.groupby("col1").firsr()</b> Get first row of each group \
<b>.plot()</b> Can add .plot() to end of many lines of code to quickly plot data \
<b>print("{} is the sum".format(var.sum()))</b> Places sum into {}. Can use comma to format multiple statistics into string. Number of statistics and number of {} must match. \
<b>.dt.tz_localize("America/New_York", ambiguous="NaT")</b> Sets timezone but keeps date and time the same. Takes care of timezone. For times that happened during timezone ambiguous will handle that by converting the row to NaT. Or any row that confuses the conversion will be a NaT  \
<b>.tz_convert()</b> Changes the date and time to match the new timezone \
<b>.shift(1)</b> Shift rows by 1, padding with NaT \

In [ ]:
# Subtract the start date from the end date
ride_durations = rides["End date"] - rides["Start date"]

# Convert the results to seconds
rides["Duration"] = ride_durations.dt.total_seconds()

print(rides['Duration'].head())

In [ ]:
# Create joyrides
joyrides = (rides['Start station'] == rides['End station'])

# Total number of joyrides
print("{} rides were joyrides".format(joyrides.sum()))

# Median of all rides
print("The median duration overall was {:.2f} seconds"\
      .format(rides['Duration'].median()))

# Median of joyrides
print("The median duration for joyrides was {:.2f} seconds"\
      .format(rides[joyrides]['Duration'].median()))

In [ ]:
# Import matplotlib
import matplotlib.pyplot as plt

# Resample rides to monthly, take the size, plot the results
# "D" for days
rides.resample("M", on = 'Start date')\
  .size()\
  .plot(ylim = [0, 150])

# Show the results
plt.show()

In [ ]:
# Group rides by member type, and resample to the month
grouped = rides.groupby('Member type')\
  .resample("M", on="Start date")

# Print the median duration for each group
print(grouped["Duration"].median())

In [ ]:
# Localize the Start date column to America/New_York
rides['Start date'] = rides['Start date'].dt.tz_localize('America/New_York', 
                                						 ambiguous='NaT')

# Print first value
print(rides['Start date'].iloc[0])

# Convert the Start date column to Europe/London
rides['Start date'] = rides['Start date'].dt.tz_convert("Europe/London")

# Print the new value
print(rides['Start date'].iloc[0])

In [ ]:
# Add a column for the weekday of the start of the ride
rides['Ride start weekday'] = rides['Start date'].dt.day_name()

# Print the median trip time per weekday
print(rides.groupby('Ride start weekday')['Duration'].median())

In [ ]:
# Shift the index of the end date up one; now subract it from the start date
rides['Time since'] = rides['Start date'] - (rides['End date'].shift(1))

# Move from a timedelta to a number of seconds, which is easier to work with
rides['Time since'] = rides['Time since'].dt.total_seconds()

# Resample to the month
monthly = rides.resample('M', on = 'Start date')

# Print the average hours between rides each month
print(monthly['Time since'].mean()/(60*60))